*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgrey;
    text-align: center;
    border: 3px dotted #000;
}

main, header, footer{
    width: 100%;
}

.logo-paragraph{
    margin-bottom: 1rem;
}


.logo{
    width: 4rem;
    border-radius: 1.75rem;
}

header, .menu-list, footer{
    display: inline-flex;
    background-color: grey;
}

header{
    margin-bottom: 2rem;
}

.menu{
    font-size: 1.25rem;
    align-self: center;
    margin-left: auto;
}

.menu-list li{
    list-style: none;
    padding: 0.5rem;
}

a{
    color: #000;
    text-decoration: none;
}

a:visited{
    color: #000;
}

a:hover, a:focus{
    color:  whitesmoke;
    background-color: #000;
    margin: 0;
}

a:active{
    color: turquoise;
}

.place-order, .place-order:visited{
    color: whitesmoke;
    background-color: #000;
    font-weight: bold;
 }

.place-order:hover{
    background-color: #333;
 }

table, th, td{
    margin: 1rem auto;
    border: 2px dashed red;
    border-collapse: collapse;
}

legend{
    font-weight: bold;
}

label{
    font-weight: bold;
}

img{
    width: 50%;
    border-radius: 25% ;
    margin: 1rem 0;
}

h2{
    margin-top: 1rem;
}

.working-hours-heading{
    margin-bottom: 1rem;
}

div{
    padding: 0.25rem;
    margin: 0.25rem;
}